.form{
    justify-content: center;
    border:1px solid yellow;
    width:20rem;
    background-color: yellow;
}
body{
    margin-left: 25rem;
}
label{
    border-color: grey;
}

.input{
    width:fit-content;
    margin-bottom: 900px;
    justify-content: flex-end;
}